<main>
 <div class="container">
  <h1>TOP</h1>
   <div class="row">
    <tr>
     <p class="font">〜このサイトについて〜<br>このサイトは主にミニチュアやドールハ<br>ウスなどのSNS投稿サイトになります</p>
     <div align="right">
      <%= image_tag "giacomo-alonzi-2nIsxaBfHhc-unsplash.jpg", alt: "Rails icon", id: "assets", class: "image", width: "900px", height: "500" %></div>
   </div>
   <div class="row3">
    <h6 align="right">Unsplash URL→https://unsplash.com/photos/2nIsxaBfHhc?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink</h6>
   </div>
    </tr>
    <div class="row2">
     <tr>
      <p class="font1">小さな部屋を大きな世界に！<br>この世界もしくは、あなたの頭の中<br>の世界を、現実に再現してみませんか？</p>
       <div align="left">
        <%= image_tag "fidel-fernando-ioWVMYTrxpU-unsplash.jpg", alt: "Rails icon", id: "assets", class: "image", width: "700px", height: "500" %></div>
    </div>
     <div class="row3">
      <h6 align="left">Unsplash URL→https://unsplash.com/photos/ioWVMYTrxpU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink</h6>
     </tr>
    </div>
 </div>
</main>